<div ng-controller="notificationCreateController" cg-busy="{promise:myPromise}">
    <toaster-container
            toaster-options="{'position-class': 'toast-top-right', 'showDuration':'200', 'hideDuration':'200','showMethod':'fadeIn','hideMethod':'fadeOut'}"></toaster-container>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Create Notification</h1>
    </div>
    <form name="addForm" class="form-validation" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">Notification Details</span>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Text </label>
                        <input type="text" name="notificationText" class="form-control" ng-model="notification.text" required>
                        <div ng-show="addForm.notificationText.$dirty" ng-messages="addForm.notificationText.$error" ng-messages-include="error_messages.html"></div>
                    </div>
                    <div class="form-group">
                        <label>Content</label>

                        <div text-angular ng-model="notification.content" class="btn-groups"
                             ta-toolbar="[['bold','italics','underline'],['html']]"></div>
                        <!--<input type="text" name="notificationText" class="form-control" ng-model="notification.text" required>-->
                        <div ng-show="addForm.notificationText.$dirty" ng-messages="addForm.notificationText.$error"
                             ng-messages-include="error_messages.html"></div>
                    </div>
                    <div class="form-group">
                        <label>Push</label>

                        <div class="input-group">
                            <label class="i-checks checkbox-inline">
                                <input type="radio" name="notificationType" ng-model="notification.push" value="NOW"
                                       required><i></i>Now
                            </label>
                            <label class="i-checks checkbox-inline">
                                <input type="radio" name="notificationType" ng-model="notification.push" value="LATER"
                                       required><i></i>Later
                            </label>

                            <div ng-show="addForm.notificationType.$dirty" ng-messages="addForm.notificationType.$error"
                                 ng-messages-include="error_messages.html"></div>
                        </div>

                    </div>
                    <div class="form-group">
                        <p class="input-group">
                            <input ng-disabled="notification.push !== 'LATER'" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="notification.date"
                                   is-open="opened" min-date="minDate" max-date="'2015-06-22'"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close" readonly />
                              <span class="input-group-btn">
                                <button ng-disabled="notification.push !== 'LATER'" type="button" class="btn btn-default" ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Type</label>

                        <div class="input-group">
                            <select name="" class="form-control" ng-model="notification.type">
                                <option value="Announcement">Announcement</option>
                                <option value="System Generated">System Generated</option>
                                <option value="Event Based">Event Based</option>
                            </select>

                            <div ng-show="addForm.notificationType.$dirty" ng-messages="addForm.notificationType.$error"
                                 ng-messages-include="error_messages.html"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Valid</label>
                        <div class="input-group">
                            <select name="" class="form-control" ng-model="notification.valid">
                                <option value="1">1 Day</option>
                                <option value="7">1 Week</option>
                                <option value="Period">Period</option>
                                <option value="Forever">Forever</option>
                            </select>

                            <div ng-show="addForm.notificationType.$dirty" ng-messages="addForm.notificationType.$error"
                                 ng-messages-include="error_messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Image</label>

                        <div class="input-group">
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="bgimage" ng-file-select="onBGSelect($files)"
                                                          accept="image/*">
                                    </span>
                                    </span>
                        </div>
                        <div data-ng-if="notification.background_url_data">
                            <img ng-src="{{notification.background_url_data}}" class=" img-upload-thimb"/>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button class="btn m-b-xs btn-sm btn-default btn-addon" ng-click="reset()"><i class="fa fa-circle"></i>Reset
                </button>
                <button class="btn m-b-xs btn-sm btn-primary btn-addon"
                        ng-click="createNotification(notification,addForm)"><i class="fa fa-plus"></i>Create
                        <!--ng-disabled="addForm.$invalid"-->
                </button>
            </footer>
        </div>
    </form>
</div>