
<div ng-controller="cueCreateController" cg-busy="{promise:myPromise}">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'showDuration':'200', 'hideDuration':'200','showMethod':'fadeIn','hideMethod':'fadeOut'}"></toaster-container>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Cue</h1>
</div>
<form name="addForm" class="form-validation" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="h4">Cue Details</span>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Text </label>
                    <input type="text" name="cueText" class="form-control" ng-model="cue.text" required>
                    <div ng-show="addForm.cueText.$dirty" ng-messages="addForm.cueText.$error" ng-messages-include="error_messages.html"></div>
                </div>
                <div class="form-group">
                    <label>Background color </label>
                    <input colorpicker colorpicker-position="left" name="cueBackgroundColor" type="text" ng-model="cue.bgcolor" class="color-pointer form-control" readonly required/>
                    <div ng-show="addForm.cueBackgroundColor.$dirty" ng-messages="addForm.cueBackgroundColor.$error" ng-messages-include="error_messages.html"></div>
                </div>

                <div class="form-group">
                    <label>Type</label>
                    <div class="input-group">
                    <label class="i-checks checkbox-inline">
                        <input type="radio" name="cueType" ng-model="cue.type" value="POLL" required><i></i>Poll
                    </label>
                    <label class="i-checks checkbox-inline">
                        <input type="radio" name="cueType" ng-model="cue.type" value="GENERAL" required><i></i>General
                    </label>
                        <div ng-show="addForm.cueType.$dirty" ng-messages="addForm.cueType.$error" ng-messages-include="error_messages.html"></div>
                    </div>
                </div>
                <div class="form-group" ng-if="cue.type === 'POLL'">
                    <label>Number of Options</label>
                    <div class="input-group">
                        <label class="i-checks checkbox-inline">
                            <input type="radio" name="optionCount" ng-model="options.count" value="TWO" required><i></i>2
                        </label>
                        <label class="i-checks checkbox-inline">
                            <input type="radio" name="optionCount" ng-model="options.count" value="FOUR" required><i></i>4
                        </label>
                        <div ng-show="addForm.cueType.$dirty" ng-messages="addForm.cueType.$error" ng-messages-include="error_messages.html"></div>
                    </div>
                </div>
                <div>
                    <div class="form-group" ng-if="cue.type === 'POLL' && (options.count === 'TWO' || options.count === 'FOUR')">
                        <label>Option 1</label>
                        <div class="input-group">
                            <input type="text" name="option1Text" class="form-control" ng-model="options.option1.text" placeholder="Enter Text for Option" required>
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="bgimage" ng-file-select ng-file-change="onOptionSelect($files,1)" accept="image/*" >
                                    </span>
                                    </span>

                        </div>
                        <div data-ng-if="options.option1.content"><img ng-src="{{options.option1.content}}" class=" img-upload-thimb" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="cue.type === 'POLL' && (options.count === 'TWO' || options.count === 'FOUR')">
                        <label>Option 2</label>
                        <div class="input-group">
                            <input type="text" name="option2Text" class="form-control" ng-model="options.option2.text" placeholder="Enter Text for Option" required>
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse&hellip; <input type="file" name="bgimagewide" ng-file-select="onOptionSelect($files,2)" accept="image/*">
                                        </span>
                                    </span>
                        </div>
                        <div data-ng-if="options.option2.content"><img ng-src="{{options.option2.content}}" class="img-upload-thimb" />
                        </div>
                    </div>
                </div>

                    <div class="form-group" ng-if="cue.type === 'POLL' && options.count === 'FOUR'">
                        <label>Option 3</label>
                        <div class="input-group">
                            <input type="text" name="option3Text" class="form-control" ng-model="options.option3.text" placeholder="Enter Text for Option" required>
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="bgimage" ng-file-select ng-file-change="onOptionSelect($files,3)" accept="image/*" >
                                    </span>
                                    </span>
                        </div>
                        <div data-ng-if="options.option3.content"><img ng-src="{{options.option3.content}}" class=" img-upload-thimb" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="cue.type === 'POLL' && options.count === 'FOUR'">
                        <label>Option 4</label>
                        <div class="input-group">
                            <input type="text" name="option4Text" class="form-control" ng-model="options.option4.text" placeholder="Enter Text for Option" required>
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="bgimage" ng-file-select
                                                          ng-file-change="onOptionSelect($files,4)"
                                                          accept="image/*" >
                                    </span>
                                    </span>
                        </div>
                        <div data-ng-if="options.option4.content"><img ng-src="{{options.option4.content}}" class=" img-upload-thimb" />
                        </div>
                    </div>
                <!--</div>-->


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Background Image wide</label>
                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse&hellip; <input type="file" name="bgimagewide" ng-file-select="onBGWideSelect($files)" accept="image/*">
                                        </span>
                                    </span>
                    </div>

                    <div data-ng-if="background_url_wide_data"><img ng-src="{{background_url_wide_data}}" class="img-upload-thimb" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Background Image</label>
                    <div class="input-group">
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="bgimage" ng-file-select ng-file-change="onBGSelect($files)" accept="image/*" >
                                    </span>
                                    </span>
                    </div>
                    <div data-ng-if="background_url_data"><img ng-src="{{background_url_data}}" class=" img-upload-thimb" />
                    </div>
                </div>

            </div>
        </div>
        <footer class="panel-footer text-right bg-light lter">
            <button class="btn m-b-xs btn-sm btn-default btn-addon" ng-click="resetCue()"><i class="fa fa-circle"></i>Reset</button>
            <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="addCue(cue,addForm)"><i class="fa fa-plus"></i>Create</button>
        </footer>
    </div>
</form>
</div>