<div class="modal-header">
    <h4 class="modal-title">Edit Asset</h4>
</div>
<div>
    <div class="modal-body">
        <div cg-busy="{promise:imagePromise}">
            <form role="form" ng-model="asset" name="assetEdit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Select category</label>
                            <div>
                                <ui-select multiple ng-model="categoryList.selectedCategories" class="form-control"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="true"
                                           on-select="filterTagging($item,$model)"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Enter category">{{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="categoryList in totalCategoryList track by $index"
                                                       refresh="refreshAddresses($select.search) | filter:$select.search"
                                                       refresh-delay="0">
                                        <div ng-bind-html="categoryList.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p class="help-block text-danger">
                                    {{categoryList.selectedCategories}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" value="Edit"
               ng-click="EditAnnouncement(announcement,announcementEdit);" id="btn-Edit">
        <!--<input type="button" class="btn btn-primary" value="Reset"
               ng-click="resetCue(cue,cueEdit);" id="btn-reset">-->
        <button class="btn btn-warning" ng-click="cancel();"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
    </div>
</div>