<div ng-controller="assetController" cg-busy="{promise:myPromise}">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div class="bg-light lter b-b wrapper-md">
        <span class="m-n font-thin h3">Assets</span>

        <div class="btn-group m-r pull-right">
            <label class="btn btn-primary" ng-model="layoutModel" btn-radio="'thumbnail'" uncheckable>
                <i class="glyphicon glyphicon-th-large"></i>
            </label>
            <label class="btn btn-primary" ng-model="layoutModel" btn-radio="'list'" uncheckable>
                <i class="glyphicon glyphicon-th-list"></i>
            </label>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="row" infinite-scroll="getPagination()">
            <div ng-if="layoutModel === 'thumbnail'">
                <div class="col-lg-6" ng-repeat="asset in assetData">
                    <tabset class="tab-container">
                        <tab>
                            <tab-heading>
                                Over view
                            </tab-heading>
                            <div class="cue_thumbs">
                                <img ng-src="{{asset.snap_url || 'http://placehold.it/500x250' }}" alt=""
                                     style="width:100%"/>
                                <ul class="list-group no-borders pull-in m-b-none">
                                    <li class="list-group-item">
                                        <span href="" class="h4 text-primary m-b-sm m-t-sm block">{{cue.text}}</span>

                                    </li>
                                </ul>
                                <div class="cue_editor">

                                    <button href="#" class="btn btn-primary" ng-click="editAsset(asset,$index)"><span
                                            class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                    <button class="btn btn-primary "
                                            ng-click="openDeleteAssetModal(asset,$index)"><span
                                            class="glyphicon glyphicon-trash"></span> Delete
                                    </button>

                                </div>
                            </div>

                        </tab>
                        <tab>
                            <tab-heading>
                                Parameters
                            </tab-heading>
                            <table class="table table-striped m-b-none cue-table"
                                   style="width:100%;table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key,value) in asset">
                                    <td>
                                        {{key}}
                                    </td>
                                    <td>{{value}}</td>
                                </tr>


                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div ng-if="layoutModel === 'list'">
                <div ng-repeat="asset in assetData">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading b-b b-light row">
                                <span class="h3 col-lg-10">{{asset.text}}<small class="text-muted"><span class="label label-success">{{cue.type | lowercase}}</span></small></span>
                                <div class="m-b-sm col-lg-2 pull-right">
                                    <div class="btn-group pull-right">
                                        <button href="#" class="btn btn-primary" ng-click="editAsset(asset,$index)"><span
                                                class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button class="btn btn-primary"
                                                ng-click="openDeleteAssetModal(asset,$index,false)"><span
                                                class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-primary "
                                                ng-click="openDeleteAssetModal(asset,$index)"><span
                                                class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group alt">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body">
                                            <div><a href>Id</a></div>
                                            <small class="text-muted">{{asset.id}}</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm"><img ng-src="{{asset.background_url_wide || 'http://placehold.it/500x250' }}" alt="..." class="img-circle"></span>
                                        <div class="media-body">
                                            <div><a href>background image wide</a></div>
                                            <small class="text-muted">{{cue.background_url_wide}}</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <span class="pull-left thumb-sm"><img ng-src="{{asset.background_url ||'http://placehold.it/500x250' }}" alt="..." class="img-circle"></span>
                                        <div class="media-body">
                                            <div><a href>background image</a></div>
                                            <small class="text-muted">{{cue.background_url}}</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <!--<span class="pull-left thumb-sm"><img src="img/a3.jpg" alt="..." class="img-circle"></span>-->
                                        <div class="media-body">
                                            <div><a href>background color</a></div>
                                            <small class="text-muted">{{asset.bgcolor}}</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-class="scrollClass"></div>

<!-- Delete Confirmation Box-->

<script type="text/ng-template" id="myDeleteContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Asset</h3>

        <!--<h3 class="modal-title" ng-if="!flag">Remove Asset</h3>-->
    </div>
    <div class="modal-body">
        <div style="font:bold;">Are you sure want to
            <span ng-if="flag">delete?</span>
            <!--<span ng-if="!flag">remove?</span>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="deleteItem()">Ok</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>